# Ignore artifacts:
build
coverage
test
test-results
playwright-report
blob-report
playwright
.github

# Ignore license_report.json that is generated in the CI pipeline
license_report.json
gl-codequality.json
